# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Production build
build

# Environment variables
.env
.env.*

# IDE files
.vscode
.idea
.DS_Store

# Package manager lockfiles
package-lock.json
yarn.lock